@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: "norsebold";
  src: url("./fonts/norse-bold-webfont.woff2") format("woff2"),
    url("./fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
}

.image-holder {
  background: no-repeat center/100% url(halie-west.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 40%;
}

.side-body {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 30%;
  font-family: "norsebold", sans-serif, Tahoma;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.side-logo {
  width: auto;
  height: 120px;
}

.side-heading {
  font-size: 80px;
  margin: 0;
}
